<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="body">
      <img src="/assets/Diary_Cows.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Field View Cattle Farm</ion-card-subtitle>
        <ion-card-title>Our Farm</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Field View Cattle Farm is spread over 26 acres. It is perched Seetharkund hills in Western Ghats, an area known for the high quality of green produce. The farm is equipped with the finest international technology for feeding, milking and processing.</p>
      </ion-card-content>
      <ion-card-header>
      <ion-card-title>Our Cows</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Pedigreed, perfect and pampered, our cross bred Swiss Holstein and Friesian cows are known world- over for their ability to produce high quality milk. Each cow on our farm has her own bed, and is kept in perfect condition. Apart from shady green areas to rest and ruminate, they are kept cool with water sprays and fans. The cows are nurtured and cherished like no other cows in the country. The reason? Contented cows give better milk! This creamier, far more nourishing milk tastes better than anything experienced before.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
